.cloudnote-dashboard__container {
  position: absolute;
	left: 0rem;
	width: 100%;
  z-index: 10;
}

.cloudnote-dashboard__svg {
  position: absolute;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: 100%;
}

.cloundote-dashboard__zoom-label-rect {
  fill: white;
  stroke: #87cefa;
  stroke-width: 3;
  opacity: 0.85;
}
.cloundote-dashboard__zoom-label {
  fill: black;
  font-size: 1.7rem;  /* 34px */
  opacity: 0.7;
}

.cloudnote-dashboard__showeditor {
  position: absolute;
  bottom: 1rem; /* 20px */
  left: 1rem; /* 20px */
  z-index: 50;
}

.cloudnote-dashboard__spinner {
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 8rem;  /* 160px */
  height: 8rem;
  margin-left: -4rem;
  border-radius: 1.5rem;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
}
.cloudnote-dashboard__spinner-image {
  position: absolute;
  width: 70%;
  height: 70%;
  margin: 15%;
}
