.cloudnote-editor-tools__container {
  position: absolute;
  top: 0rem;
  width: 7.5rem;  /* 150px */
  height: calc(100% - 7.5rem);  /* 150px */
  background-color: rgba(255, 255, 255, 1);
  transition: transform 0.6s;
  transform: translate3d(0rem, 0rem, 0rem);
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;;
}

.cloudnote__EDITOR-TOOLS-LEFT .cloudnote-editor-tools__container {
  left: 0rem;
  border-right: solid 0.05rem gray;
}
.cloudnote__EDITOR-TOOLS-LEFT.cloudnote__EDITOR-COLORPICKER-OPEN .cloudnote-editor-tools__container {
  transform: translate3d(-7.55rem, 0rem, 0rem); /* 151px */
}
.cloudnote__EDITOR-TOOLS-RIGHT .cloudnote-editor-tools__container {
  right: 0rem;
  border-left: solid 0.05rem gray;
}
.cloudnote__EDITOR-TOOLS-RIGHT.cloudnote__EDITOR-COLORPICKER-OPEN .cloudnote-editor-tools__container {
  transform: translate3d(7.55rem, 0rem, 0rem);  /* 151px */
}

.cloudnote-editor-tools__tool {
  width: 7.5rem;  /* 150px */
  height: 6rem; /* 120px */
  margin: 0.75rem 0; /* 15px */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cloudnote-editor-tools__tool-selected {
  width: 7.1rem;  /* 142px */
}
.cloudnote__EDITOR-TOOLS-RIGHT .cloudnote-editor-tools__tool-selected {
  border-right: solid 0.2rem transparent;
  border-left: solid 0.2rem gray;
}
.cloudnote__EDITOR-TOOLS-LEFT .cloudnote-editor-tools__tool-selected {
  border-right: solid 0.2rem gray;
  border-left: solid 0.2rem transparent;
}

.cloudnote-editor-tools__tool-marker {
  background-image: url("../img/icons/marker.png");
}
.cloudnote-editor-tools__tool-pen {
  background-image: url("../img/icons/pen.png");
}
.cloudnote-editor-tools__tool-pencil {
  background-image: url("../img/icons/pencil.png");
}
.cloudnote-editor-tools__tool-eraser {
  background-image: url("../img/icons/eraser.png");
}
.cloudnote-editor-tools__tool-undo {
  background-image: url("../img/icons/undo.png");
}
.cloudnote-editor-tools__tool-redo {
  background-image: url("../img/icons/redo.png");
}
.cloudnote-editor-tools__tool-coworkingStart {
  background-image: url("../img/icons/coworkingStart.png");
}
.cloudnote-editor-tools__tool-coworkingStop {
  background-image: url("../img/icons/coworkingStop.png");
  display: none;
}
.cloudnote-editor-tools__tool-save {
  background-image: url("../img/icons/save.png");
}
.cloudnote-editor-tools__tool-clear {
  background-image: url("../img/icons/clear.png");
}
.cloudnote-editor-tools__tool-paper {
  background-image: url("../img/icons/paper.png");
}
.cloudnote-editor-tools__tool-exit {
  background-image: url("../img/icons/exit.png");
}

.cloudnote__EDITOR-COWORKING .cloudnote-editor-tools__tool-coworkingStop {
  display: block;
}
.cloudnote__EDITOR-COWORKING .cloudnote-editor-tools__tool-coworkingStart {
  display: none;
}
