/* CONTAINER */
.drawith-editor-colorpicker__container {
  background-color: rgba(250, 250, 250, 0.9);
  width: 100%;
  height: 5.5rem;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  z-index: 120;
}
.drawith-editor-colorpicker__colors-container {
  position: absolute;
  height: 100%;
  width: calc(100% - 7rem);
  top: 0rem;
  left: 7rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.drawith-editor-colorpicker__colors-container > div {
  height: 4.6rem;
}

/* COLORS */
.drawith-editor-colorpicker__color {
  width: 3.7rem;  /* 74px */
  height: 3.7rem; /* 74px */
  border-radius: 50%;
  box-shadow: 0rem -0.05rem 0.2rem 0rem rgba(50, 50, 50, 0.75), inset 0rem 0rem 0.15rem 0rem black;
  margin: 0.9rem 0.3rem 0rem; /* 18px 6px */
  display: inline-block;
}
.drawith-editor-colorpicker__color-selected::before {
  content: '';
  display: block;
  width: calc(100% - 0.7rem);   /* 14px */
  height: calc(100% - 0.7rem);  /* 14px */
  margin: 0.2rem; /* 4px */
  border-radius: 50%;
  box-shadow: inset 0rem 0rem 0.35rem 0rem rgba(0, 0, 0, 0.75);
  border: solid 0.15rem white;
}

/* RANDOM */
.drawith-editor-colorpicker__random-container {
  width: 7rem; /* 110px */
  height: 100%;
  display: inline-block;
}
.drawith-editor-colorpicker__random {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5rem 1.5rem;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  background-size: 103%;
  background-position: center;
  background-image: url("../img/icons/random.png");
}
.drawith-editor-colorpicker__random.drawith-editor-colorpicker__random-locked {
  background-image: url("../img/icons/random-locked.png");
}
.drawith-editor-colorpicker__random-selected {
  box-shadow: 0rem 0rem 0.75rem 0rem rgba(0, 0, 0, 1);
  border: solid 0.15rem yellow;
  margin: 0.35rem 1.35rem;
}
