.drawith-editor__tool-rule {
  position: absolute;
  z-index: 70;
  top: 50%;
  left: 50%;
  background-image: url("../img/rule.png");
  background-size: contain;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  border-radius: 0.75rem;
}

.drawith-editor__tool-rule-gesture-one,
.drawith-editor__tool-rule-gesture-two,
.drawith-editor__tool-rule-origin,
.drawith-editor__tool-rule-start,
.drawith-editor__tool-rule-center,
.drawith-editor__tool-rule-bottom {
  width: 1px;
  height: 1px;
  background-color: transparent;
  position: absolute;
  z-index: 100;
}

.drawith-editor__tool-rule-origin {
  top: -0.1rem; /* 2px */
  left: 0px;
}

.drawith-editor__tool-rule-start {
  top: 50%;
  left: 0px;
}

.drawith-editor__tool-rule-center {
  top: 50%;
  left: 50%;
}

.drawith-editor__tool-rule-bottom {
  top: calc(100% + 0.15rem); /* 3px */
  left: 0px;
}

.drawith-editor__tool-rule-gesture-one,
.drawith-editor__tool-rule-gesture-two {
  left: -500px;
  top: -500px;
}

.drawith-editor__tool-rule-level,
.drawith-editor__tool-rule-level-selected {
  border-radius: 50%;
  width: 6rem; /* 120px */
  height: 6rem; /* 120px */
  top: 50%;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  z-index: 1000;
}
.drawith__PHONE .drawith-editor__tool-rule-level,
.drawith__PHONE .drawith-editor__tool-rule-level-selected {
  width: 4rem;
  height: 4rem;
}
.drawith-editor__tool-rule-level {
  margin-top: -3.05rem; /* 61px */
  margin-left: -3.05rem; /* 61px */
  border: solid 0.05rem gray;
}
.drawith__PHONE .drawith-editor__tool-rule-level {
  margin-top: -2.05rem;
  margin-left: -2.05rem;
}
.drawith-editor__tool-rule-level-selected {
  margin-top: -3.2rem; /* 64px */
  margin-left: -3.2rem; /* 64px */
  border: solid 0.2rem gray;
}
.drawith__PHONE .drawith-editor__tool-rule-level-selected {
  margin-top: -2.2rem;
  margin-left: -2.2rem;
}

.drawith-editor__tool-rule-level-value {
  line-height:  6rem; /* 120px */
  width: 6rem; /* 120px */
  text-align: center;
  font-size: 1.75rem;
  font-family: sans-serif;
  z-index: 1000;
}
.drawith__PHONE .drawith-editor__tool-rule-level-value {
  line-height: 4rem;
  width: 4rem;
}

.drawith-editor__tool-rule-perpendicular,
.drawith-editor__tool-rule-specular {
  border-radius: 50%;
  width: 5rem; /* 100px */
  height: 5rem; /* 100px */
  top: 50%;
  margin-top: -2.55rem; /* 51px */
  margin-left: -2.55rem; /* 51px */
  opacity: 0.5;
  position: absolute;
  z-index: 1000;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px gray
}
.drawith__PHONE .drawith-editor__tool-rule-perpendicular,
.drawith__PHONE .drawith-editor__tool-rule-specular {
  width: 3rem;
  height: 3rem;
  margin-top: -1.55rem;
  margin-left: -1.55rem;
}

.drawith-editor__tool-rule-perpendicular {
  left: calc(50% - 8rem);
  background-image: url("../img/icons/perpendicular.png");
}
.drawith__PHONE .drawith-editor__tool-rule-perpendicular {
  left: calc(50% - 5rem);
}
.drawith-editor__tool-rule-specular {
  left: calc(50% + 8rem);
  background-image: url("../img/icons/specular.png");
}
.drawith__PHONE .drawith-editor__tool-rule-specular {
  left: calc(50% + 5rem);
}
