.drawith-editor__tool-rule {
  position: absolute;
  z-index: 70;
  top: 50%;
  left: 50%;
  background-image: url("../img/rule.png");
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  border-radius: 0.75rem;
}

.drawith-editor__tool-rule-gesture-one,
.drawith-editor__tool-rule-gesture-two,
.drawith-editor__tool-rule-origin,
.drawith-editor__tool-rule-start,
.drawith-editor__tool-rule-center {
  width: 1px;
  height: 1px;
  background-color: transparent;
  position: absolute;
  z-index: 100;
}

.drawith-editor__tool-rule-origin {
  top: 0px;
  left: 0px;
}

.drawith-editor__tool-rule-start {
  top: 50%;
  left: 0px;
}

.drawith-editor__tool-rule-center {
  top: 50%;
  left: 50%;
}

.drawith-editor__tool-rule-gesture-one,
.drawith-editor__tool-rule-gesture-two {
  left: -500px;
  top: -500px;
}

.drawith-editor__tool-rule-level {
  border-radius: 50%;
  width: 6rem; /* 120px */
  height: 6rem; /* 120px */
  top: 50%;
  left: 50%;
  margin-top: -3rem; /* 60px */
  margin-left: -3rem; /* 60px */
  border: solid 1px gray;
  opacity: 0.5;
  position: absolute;
  z-index: 1000;
}

.drawith-editor__tool-rule-level-value {
  line-height:  6rem; /* 120px */
  width: 6rem; /* 120px */
  text-align: center;
  font-size: 1.75rem;
  font-family: sans-serif;
  z-index: 1000;
}
