.drawith-folder__container {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.9);
  background-color: white;
  left: 0rem;
  width: 100%;
  z-index: 50;
}

.drawith-folder__topbar {
  position: absolute;
  border-bottom: solid 1px rgb(220, 220, 220);
  top: 0px;
  left: 0rem;
  width: calc(100% - 2rem);
  z-index: 60;
  padding-left: 2rem;
}

.drawith-folder__topbar-button {
  float: left;
  height: 100%;
  margin: 0 0.5rem;
  z-index: 70;
  cursor: pointer;
}
.drawith-folder__topbar-button-ICON {
  width: 5rem;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.drawith-folder__topbar-button-TEXT {
  width: 8rem;
  font-size: 1.8rem;
  text-align: center;
  line-height: 5rem;
  font-family: sans-serif;
  color: rgb(0, 122, 255);
}
.drawith-folder__topbar-button-delete {
  background-image: url("../img/icons/delete.png");
}
.drawith-folder__topbar-button-export {
  background-image: url("../img/icons/export.png");
}
