.drawith-folder__drawings-container {
  width: 100%;
  position: absolute;
  left: 0rem;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  align-content: flex-start;
  justify-content: space-around;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.drawith-folder__drawing {
  width: 18vw;
  height: 22vh;
  border: solid 1px rgb(220, 220, 220);
  border-radius: 0.75rem;
  box-shadow: inset 0px 0px 0.5rem 0.1rem rgba(220, 220, 220, 0.5);
  margin: 2rem 0rem;
  cursor: pointer;
}
.drawith__TABLET.drawith__LANDSCAPE .drawith-folder__drawing {
  width: 20vw;
  height: 21vh;
}
.drawith__TABLET.drawith__PORTRAIT .drawith-folder__drawing {
  width: 29vw;
  height: 16vh;
}
.drawith__PHONE .drawith-folder__drawing {
  margin: 1rem 0rem;
}
.drawith__PHONE.drawith__LANDSCAPE .drawith-folder__drawing {
  width: 30vw;
  height: 35vh;
}
.drawith__PHONE.drawith__PORTRAIT .drawith-folder__drawing {
  width: 44vw;
  height: 16vh;
}
.drawith-folder__drawing.drawith-folder__drawing-new {
  background: url("../img/new.png") no-repeat center, url("../img/paper/white.png");
  background-size: 45%, auto;
}
