.cloudnote-messages__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8470ff;
  opacity: 0;
  transition: opacity 200ms;
  display: none;
  z-index: 750;
}
.cloudnote__MESSAGE-MANDATORY-OPEN .cloudnote-messages__overlay {
  display: block;
  opacity: 0.3;
}

.cloudnote-messages__panel {
  width: auto;
  height: 2.5rem;
  display: block;
  padding: 1.3rem 2rem 1rem 5.5rem;
  position: absolute;
  top: 5.05rem;
  left: 50%;
  background-repeat: no-repeat;
  background-position: 1.5rem 1.0rem;;
  background-size: 2.5rem 2.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%) translateY(-110%);
  transition: transform 200ms;
}
.cloudnote-messages__panel-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  height: 2.5rem;
  color: white;
  margin: auto;
  white-space: nowrap;
}
.cloudnote-messages__panel-button-ok, .cloudnote-messages__panel-button-cancel {
  border: solid 1px white;
  display: none;
  align-items: center;
  font-size: 2rem;
  justify-content: space-around;
  cursor: pointer;
}

.cloudnote__MESSAGE-OPEN .cloudnote-messages__panel {
  transform: translateX(-50%) translateY(0%);
}
.cloudnote__MESSAGE-MANDATORY-OPEN .cloudnote-messages__panel {
  transform: translateX(-50%) translateY(10rem);
}
.cloudnote__MESSAGE-OPEN .cloudnote-messages__panel {
  z-index: 250;
  border-radius: 0 0 0.7rem 0.7rem;
}
.cloudnote__MESSAGE-MANDATORY-OPEN .cloudnote-messages__panel {
  z-index: 1000;
}



/* ALERT*/
.cloudnote-messages__panel.cloudnote-messages__panel-alert {
  height: auto;
  width: 100%;
}
.cloudnote-messages__panel-alert {
  background-color: #eee;
  background-image: url("../img/icons/alert.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.cloudnote-messages__panel-alert .cloudnote-messages__panel-text {
  color: black;
  max-width: 85%;
  margin: 0rem 2.5%;
}
.cloudnote-messages__panel-alert .cloudnote-messages__panel-button-ok {
  width: 8rem;
  height: 4rem;
  float: right;
  border-color: black;
  display: flex;
}
.cloudnote-messages__panel-alert .cloudnote-messages__panel-button-cancel,
.cloudnote-messages__panel-alert .cloudnote-messages__panel-input {
  display: none;
}

/* INFO manca icona */
.cloudnote-messages__panel-info {
  background-color: #4D82D6;
  background-image: url("../img/icons/info.png");
}
.cloudnote-messages__panel-info .cloudnote-messages__panel-button-ok,
.cloudnote-messages__panel-info .cloudnote-messages__panel-button-cancel,
.cloudnote-messages__panel-info .cloudnote-messages__panel-input {
  display: none;
}

/* SUCCESS manca icona */
.cloudnote-messages__panel-success {
  background-color: #57BF57;
  background-image: url("../img/icons/success.png");
}
.cloudnote-messages__panel-success .cloudnote-messages__panel-button-ok,
.cloudnote-messages__panel-success .cloudnote-messages__panel-button-cancel,
.cloudnote-messages__panel-success .cloudnote-messages__panel-input {
  display: none;
}

/* ERROR manca icona */
.cloudnote-messages__panel-error {
  background-color: #E1715B;
  background-image: url("../img/icons/error.png");
}
.cloudnote-messages__panel-error .cloudnote-messages__panel-button-ok,
.cloudnote-messages__panel-error .cloudnote-messages__panel-button-cancel,
.cloudnote-messages__panel-error .cloudnote-messages__panel-input {
  display: none;
}
