.drawith-messages__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(146, 84, 255, 0.3);
  z-index: 750;
}

.drawith-messages__container {
  width: auto;
  height: 2.5rem;
  display: block;
  padding: 1.3rem 2rem 1rem 5.5rem;
  position: absolute;
  top: 5.05rem;
  left: 50%;
  background-repeat: no-repeat;
  background-position: 1.5rem 50%;
  background-size: 2.5rem 2.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%) translateY(-110%);
  transition: transform 200ms;
  z-index: 500;
}
.drawith-messages__container-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white;
  margin: auto;
  letter-spacing: 0.2rem;
}
.drawith-messages__container-button-ok, .drawith-messages__container-button-cancel {
  border: solid 0.1rem white;
  display: none;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
}
.drawith-messages__container-button-ok > p, .drawith-messages__container-button-cancel > p {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.drawith__MESSAGE-OPEN .drawith-messages__container {
  transform: translateX(-50%) translateY(0%);
  z-index: 750;
  border-radius: 0 0 0.7rem 0.7rem;
}
.drawith__MESSAGE-MANDATORY-OPEN.drawith__MESSAGE-OPEN .drawith-messages__container {
  transform: translateX(-50%) translateY(7rem);
  z-index: 1000;
  border-radius: 0.5rem;
}


/* ALERT */
.drawith-messages__container.drawith-messages__container-alert {
  height: auto;
  width: 60%;
  background-color: lightgray;
  background-image: url("../img/icons/alert.png");
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drawith-messages__container-alert .drawith-messages__container-text {
  color: black;
  text-align: center;
  margin: 0.5rem 0rem 1rem;
}
.drawith-messages__container-alert .drawith-messages__container-button-ok {
  display: flex;
  border-color: black;
}
.drawith-messages__container-alert .drawith-messages__container-button-cancel,
.drawith-messages__container-alert .drawith-messages__container-input {
  display: none;
}


/* CONFIRM */
.drawith-messages__container.drawith-messages__container-confirm {
  height: auto;
  width: 60%;
  background-color: lightgray;
  background-image: url("../img/icons/confirm.png");
}
.drawith-messages__container-confirm .drawith-messages__container-text {
  color: black;
  text-align: center;
  margin: 0.5rem 0rem 1rem;
}
.drawith-messages__container-confirm .drawith-messages__container-text > p {
  word-wrap: break-word;
}
.drawith-messages__container-confirm .drawith-messages__container-button-ok,
.drawith-messages__container-confirm .drawith-messages__container-button-cancel {
  display: inline-block;
  margin: auto calc(25% - 4.5rem);
  border-color: black;
}
.drawith-messages__container-confirm .drawith-messages__container-button-ok > p,
.drawith-messages__container-confirm .drawith-messages__container-button-cancel > p {
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  text-align: center;
}
.drawith-messages__container-confirm .drawith-messages__container-input {
  display: none;
}

/* INFO */
.drawith-messages__container-info {
  background-color: #4D82D6;
  background-image: url("../img/icons/info.png");
}
.drawith-messages__container-info .drawith-messages__container-button-ok,
.drawith-messages__container-info .drawith-messages__container-button-cancel,
.drawith-messages__container-info .drawith-messages__container-input {
  display: none;
}

/* SUCCESS */
.drawith-messages__container-success {
  background-color: #57BF57;
  background-image: url("../img/icons/success.png");
}
.drawith-messages__container-success .drawith-messages__container-button-ok,
.drawith-messages__container-success .drawith-messages__container-button-cancel,
.drawith-messages__container-success .drawith-messages__container-input {
  display: none;
}

/* ERROR */
.drawith-messages__container-error {
  background-color: #E1715B;
  background-image: url("../img/icons/error.png");
}
.drawith-messages__container-error .drawith-messages__container-button-ok,
.drawith-messages__container-error .drawith-messages__container-button-cancel,
.drawith-messages__container-error .drawith-messages__container-input {
  display: none;
}

/* PANEL */
.drawith-messages__panel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70rem;
  max-width: 75%;
  height: 80%;
  transform: translate(-50%, -50%);
  border: solid 0.05rem gray;
  border-radius: 0.5rem;
  z-index: 1000;
  background-color: white;
  overflow: hidden;
}
.drawith__PHONE .drawith-messages__panel {
  max-width: 90%;
  width: 90%;
}

.drawith-messages__panel-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-position: 0.75rem 0.75rem;
  background-repeat: no-repeat;
  background-image: url("../img/icons/x.png");
  background-color: rgba(255, 255, 255, 0.9);
  background-size: 2.5rem;
  z-index: 1010;
  cursor: pointer;
}
