.cloudnote-dashboard-tooltip__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.6);
}

.cloudnote-dashboard-tooltip__panel {
  position: absolute;
  top: 0rem;
  width: 80%;
  height: 100%;
  background-color: white;
  transition: transform 0.6s;
  z-index: 120;
}
.cloudnote__DASHBOARD-TOOLTIP-RIGHT .cloudnote-dashboard-tooltip__panel {
  right: 0rem;
  transform: translate3d(101%, 0rem, 0rem);
  border-left: solid 0.1rem gray;
}
.cloudnote__DASHBOARD-TOOLTIP-LEFT .cloudnote-dashboard-tooltip__panel {
  left: 0rem;
  transform: translate3d(-101%, 0rem, 0rem);
  border-right: solid 0.1rem gray;
}
.cloudnote-dashboard-tooltip__panel-visible {
  transform: translate3d(0rem, 0rem, 0rem) !important;
}

.cloudnote-dashboard-tooltip__preview-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cloudnote-dashboard-tooltip__preview {
  max-width: 90%;
  max-height: 90%;
}
