.cloudnote-user__login-panel-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.cloudnote-user__login-panel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.9;
  background-color: white;
  z-index: 10;
}
.cloudnote-user__login-panel {
  width: 900px;
  height: 800px;
  border: solid 2px gray;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -450px;
  margin-top: -400px;
  z-index: 50;
}
.cloudnote-user__login-panel-logo {
  width: 800px;
  height: 150px;
  margin: 70px auto;
  background-image: url("../img/logoButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cloudnote-user__login-panel-facebook {
  width: 472px;
  height: 88px;
  margin: 50px auto;
  background-image: url("../img/fb.png");
}

.cloudnote-user__header-button {
  border-radius: 50%;
  background-image: url("../img/user.png");
  background-size: contain;
  background-repeat: no-repeat;
}
