.drawith-panel__header-info {

}
.drawith-panel__header-info > div {
  width: 100%;
  text-align: center;
}

.drawith-panel__header-info-title {
  height: 12%;
  overflow: hidden;
}
.drawith__PHONE .drawith-panel__header-info-title {
  display: none;
}
.drawith-panel__header-info-title img {
  height: 100%;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.drawith-panel__header-info-subtitle {
  height: 13%;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: sans-serif;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawith__PHONE .drawith-panel__header-info-subtitle {
  font-size: 1.9rem;
  height: 20%;
  width: 70%;
  padding: 0 15%;
}

.drawith-panel__header-info-draw {
  height: 45%;
  background-image: url("../../img/draw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.drawith__PHONE .drawith-panel__header-info-draw {
  height: 40%;
}

.drawith-panel__header-info-text {
  height: 25%;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95% !important;
  padding: 0 2.5%;
}
.drawith__PHONE .drawith-panel__header-info-text {
  height: 35%;
  line-height: 1.6rem;
}
.drawith-panel__header-info-text big {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
}
.drawith-panel__header-info-text small {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: sans-serif;
}

.drawith-panel__header-info-legal {
  height: 5%;
  font-family: sans-serif;
  color: gray;
  font-size: 1.3rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.drawith__PHONE .drawith-panel__header-info-legal {
  font-size: 1rem;
}
